<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/js/site.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 200px;
            margin-left: 70px;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

            td:hover {
                background-color: coral;
            }

        .sidenav {
            height: 100%;
            width: 160px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
            margin-top: 50px;
        }

            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

        .main {
            margin-left: 160px;
            font-size: 28px;
            padding: 0px 10px;
        }
    </style>
</head>
<body>
    <div @* class="w3-top" *@>
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a class="w3-bar-item w3-button"> <b>Admin</b> panel</a>

            <div class="w3-right w3-hide-small">
                <a asp-action="Index" asp-controller="Register" class="w3-bar-item w3-button">Logout</a>
                <a asp-action="Register" asp-controller="Register" class="w3-bar-item w3-button">Register</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="sidenav">
        <a href="/Product/Display">Product</a>
        <a href="/Product/Cart">Purchase</a>
        <a href="/Product/List">ProductList</a>
        <a href="/Register/Display">User</a>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - OnlineShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>  *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
